namespace DecTest
{
    using NUnit.Framework;
    using System;
    using System.Collections.Generic;

    public static class Harness
    {
        <<COMPOSITES>>

        public static void Setup()
        {
            Base.UpdateTestParameters(new Dec.Config.UnitTestParameters { explicitTypes = new Type[] { <<TYPES>> } });
        }

        public static void Validate()
        {
            <<TESTS>>
        }
    }
}
