namespace DefTest
{
    using System;
    using NUnit.Framework;

    public static class Harness
    {
        <<COMPOSITES>>

        public static void Setup()
        {
            Def.Config.TestParameters = new Def.Config.UnitTestParameters { explicitTypes = new Type[] { <<TYPES>> } };
        }

        public static void Validate()
        {
            <<TESTS>>
        }
    }
}
